<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/profile.css">

<title>OHO- Chat page</title>
</head>

<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">

				<div class="content">

					<header>
						<div class="header-wrapper">

							<div class="leftMenuBar">
								<ul>
									<img align="center" width="30px" heigth="30px"
										src="../resources/images/logo.png" />
									<li id="menuItem"><input type="text" name="searchBox"
										class="searchBox"></li>
									<li id="menuItem"><a href="#"> <img
											class="searchButton" src="../resources/images/search.png"
											alt="Search Button" align="center" />
									</a></li>
								</ul>
							</div>

							<div class="rightMenuBar">
								<ul>
									<li id="menuItem"><a href="#">Groups</a></li>
									<li id="menuItem"><a href="#">Profile</a></li>
									<li id="menuItem"><a href="#">Settings</a></li>
									<li id="menuItem"><a href="#">Logout</a></li>
								</ul>
							</div>

						</div>
					</header>


					<div class="main">
						<div class="main-wrapper">
							<div class="profilFeed">

								<div id="leftGroups">
									<ul>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>
										<li>Grup</li>

									</ul>
								</div>
							</div>
							<div class="message">
								<div id="centerMessage">
									<ul>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
										<li>Ciprian: Mesaj</li>
									</ul>
									<form method="POST" action="#">
										<textarea rows="10" type="text" name="nume"
											placeholder="Write me..." maxlength="500" id="textToAppend"></textarea>
									</form>

								</div>
							</div>

						</div>
						<div class="groups">
							<div class="group-wrapper">
								<h3>Grupuri sugerate:</h3>
								<ul>
									<li>Ceasuri</li>
									<li>Bijuterii</li>
									<li>Parasutism</li>
									<li>Masini</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
