<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link href ="../css/contact.css" rel="stylesheet" type="text/css"/>	
<title>Contact</title>
</head>
<body>
<div class="contact">
	
	<div class="container">
	<div class="heading">
		<h1>CONTACT  US</h1>
		<h5> Tell us about your needs and suggestions</h5>
	</div>
	<form action="" method="" class="formular">
 	 	<label>
 	 		Name*:	<br>  
        	<input  type="text" placeholder="Enter your name" >
        </label>
  		<label>
  			Email*: <br>
  	 		<input  type="text" placeholder="Enter your email" >
  	 	</label>
		<label>
			Subject:<br>
			<input type="text" placeholder="Enter the subject">
		</label>
  	 	<label>
  	 		Your Message: <br>
  	 		<textarea name="mesaj" rows="8"></textarea>
  	 	</label>
  	 	<input type="submit" value="Send">
	</form>
	</div>
	<div class="footer">
		<div class="footer_wrapper">
			<div class="footer_content">
				<b>Broblem ? <a href="https://support.google.com/mail/bin/answer.py?hl=en&amp;answer=32050">Clear cookies !</a></b>
					<p>
					Follow us on: 
						<a href="https://www.facebook.com/OnlineHob/"><img src="./images/facebook.ico" alt="facebook" /></a>
						<a href="https://twitter.com/10_oho"><img src="./images/twitter.png" alt="twitter" /></a>
					</p
					</div>
			</div>
		</div>
					
	</div><!-- FOOTER END -->
</div>
</body>
</html>