<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/profile.css">
        <title>Main Page</title>
    </head>
    <body>
        <!-- Inceput header -->
        <header>
            <ul id="menuBar">
                <li id="menuItem">
                    <a href="OHo.html">OHome</a>
                </li>
                <li id="menuItem">
                    <input type="text" name="searchBox" class="searchBox">
                </li>
                <li id="menuItem">
                    <a href="OHo.html">
                        <img class="searchButton" src="../resources/images/search button.jpg" alt="Search Button" align="center"/>
                    </a>
                </li>
                <li id="menuItem">
                    <a href="OHo.html">Groups</a>
                </li>
                <li id="menuItem">
                    <a href="OHo.html">Profile</a>
                </li>
                <li id="menuItem">
                    <a href="OHo.html">Settings</a>
                </li>
                <li id="menuItem">
                    <a href="OHo.html">Logout</a>
                </li>
            </ul>
        </header>
        <!-- Sfarsit header -->
        <!-- Inceput lista grupuri -->
        <ul id="groupList">
            <li id="groupListItem">
                <a href="OHo.html">Group Name 1</a>
            </li>
            <li id="groupListItem">
                <a href="OHo.html">Group Name 2</a>
            </li>
            <li id="groupListItem">
                <a href="OHo.html">Group Name 3</a>
            </li>
            <li id="groupListItem">
                <a href="OHo.html">Group Name 4</a>
            </li>
            <li id="groupListItem">
                <a href="OHo.html">Group Name 5</a>
            </li>
        </ul>
        <!-- Sfarsit lista grupuri -->
        <!-- Inceput detalii profil -->
        <img src="../resources/images/man-profile.jpg" alt="Profile Picture" class="profilePicture" /><br>
        <input type="submit" value="Change your picture" class="changePicture">
        <p class="profileDetails">Profile details:</p>
        <ul id="profileInfo">
            <li id="profileInfoItem">
                Username: <strong class="personalInfo">johnsmith</strong>
            </li>
            <li id="profileInfoItem">
                Real name: <strong class="personalInfo">John Smith</strong>
            </li>
            <li id="profileInfoItem">
                Age: <strong class="personalInfo">21</strong>
            </li>
            <li id="profileInfoItem">
                E-mail: <strong class="personalInfo">john.smith@mail.us</strong>
            </li>
            <li id="profileInfoItem">
                Phone: <strong class="personalInfo">0242015987</strong>
            </li>
        </ul>
        <!-- Sfarsit detalii profil -->
        <!-- Inceput notificari -->
        <ul id="notifications">
            <li id="notificationItem">
                Notification 1
            </li>
            <li id="notificationItem">
                Notification 2
            </li>
            <li id="notificationItem">
                Notification 3
            </li>
            <li id="notificationItem">
                Notification 4
            </li>
            <li id="notificationItem">
                Notification 5
            </li>
        </ul>
        <!-- Sfarsit notificari -->
    </body>
</html>