<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="../css/profile.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../resources/images/logo.png">
<title>Main Page</title>
</head>

<body>

	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">

				<div class="content">

					<header>
						<div class="header-wrapper">

							<div class="leftMenuBar">
								<ul>
									<img width="10px" heigth="10px" src="../resources/images/logo.png"/>
									<li id="menuItem"><input type="text" name="searchBox"
										class="searchBox"></li>
									<li id="menuItem"><a href="#"> <img
											class="searchButton" src="../resources/images/search.png"
											alt="Search Button" align="center" />
									</a></li>
								</ul>
							</div>

							<div class="rightMenuBar">
								<ul>
									<li id="menuItem"><a href="#">Groups</a></li>
									<li id="menuItem"><a href="#">Profile</a></li>
									<li id="menuItem"><a href="#">Settings</a></li>
									<li id="menuItem"><a href="#">Logout</a></li>
								</ul>
							</div>

						</div>
					</header>


					<div class="main">
						<div class="main-wrapper">
						<div class="profilFeed">
							<div class="profile">
							
								<div class="profileContent">
									<div class="profilePicture">
										<img src="../resources/images/man-profile.jpg"
											alt="Profile Picture" />
										<p>John</p>
									</div>


									<div class="profileDetails">
										<h3>Profile details:</h3>
										<ul id="profileInfo">
											<li>First Name: <strong> John</strong></li>
											<li>Last Name: <strong> Smith</strong></li>
											<li>Age: <strong> 21</strong></li>
											<li>E-mail: <strong> john.smith@mail.us</strong></li>
											<li>Phone: <strong> 0242015987</strong></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
							<div class="feed">

								<div class="feedContent">

									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>

									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>
									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>
									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>
									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>
									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>

									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>
									<div class="news">
										<h3>Ciprian a postat in grupul GRUP :</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit
											voluptatem accusantium doloremque laudantium, totam rem
											aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
											architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
											voluptatem quia voluptas sit aspernatur aut odit aut fugit,
											sed quia consequuntur magni dolores eos qui ratione
											voluptatem sequi nesciunt. Neque porro quisquam est, qui
											dolorem ipsum quia dolor sit amet, consectetur, adipisci
											velit, sed quia non numquam eius modi tempora incidunt ut
											labore et dolore magnam aliquam quaerat voluptatem. Ut enim
											ad minima veniam, quis nostrum exercitationem ullam corporis
											suscipit laboriosam, nisi ut aliquid ex ea commodi
											consequatur? Quis autem vel eum iure reprehenderit qui in ea
											voluptate velit esse quam nihil molestiae consequatur, vel
											illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
									</div>
								</div>
							</div>
						
						</div>

						<div class="groups">
							<div class="group-wrapper">
								<h3>Grupuri sugerate:</h3>
								<ul>
									<li>Ceasuri</li>
									<li>Bijuterii</li>
									<li>Parasutism</li>
									<li>Masini</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>