<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="../css/register.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../resources/images/logo.png">
<title>OHO - Register Page</title>
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
								
				<div class="register">
						<div class="register-wrapper">
						
						<div class="register-form">
						
						<div class="hobby-form">						
						<form action="#" method="POST">
						 
						<input type="text" name="hobby1" placeholder="Insert hobby">
						<img width="20px" height="20px" alt="add icon" src="../resources/images/mini/add.png">
						<br><br>
						<button>Done !</button>
						</form>
						</div>
						</div>
						
						</div>
						
				</div><!-- CONTENT END -->
		
				<div class="footer">
					<div class="footer_wrapper">
					<div class="footer_content">
					<b>Broblem ? <a href="https://support.google.com/mail/bin/answer.py?hl=en&amp;answer=32050">Clear cookies !</a></b>
					
					<p>
							Follow us on: <a href="#"><img
								src="../resources/images/mini/facebook.png"
								alt="facebook" /></a> <a href="#"><img
								src="../resources/images/mini/twitter.png"
								alt="twitter" /></a>

						</p>
						</div>
					</div>
				</div><!-- FOOTER END -->
			
			</div>
		</div>
	</div>
</body>
</html>