<!DOCTYPE html>
<html>
    <head>
        <title>Settings</title>
    </head>
    <body>
        <h1>Profile settings</h1>
        <ul>
            <li>
                Username <input type="text" name="username"><br>
            </li>
            <li>
                Public name <input type="text" name="publicName"><br>
            </li>
            <li>
                E-mail <input type="text" name="email"><br>
            </li>
            <li>
                Password <input type="password" name="password"><br>
            </li>
            <li>
                Confirm password <input type="password" name="confirmPassword"><br>
            </li>
            <li>
                <input type="submit" value="Submit"><br>
            </li>
        </ul>
    </body>
</html>